.main-home-page-container {
  padding: 1.5rem 0rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #d1c6c1;
  width: 70%;
  margin: 2rem auto;
  height: fit-content;
  /* height: 1500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-div-home-page-menu {
  border-radius: 20px;
  background: #262f33;
  background: color(display-p3 0.1569 0.1843 0.2);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 25px;
  width: 90%;
}

.home-page-menu-items {
  border-radius: 10px;
  background: rgba(231, 72, 0, 0.53);
  width: fit-content;
  padding: 16px 15px;
}

.home-page-menu-items:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5) inset;
}

.home-page-menu-items-focus {
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5) inset;
}
.home-page-menu-items > span {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.content-div {
  margin-top: 10px;
  width: 90%;
}

.MealItem-holder-div {
  display: flex;
  justify-content: space-between;
  margin: 7px 0px;
  padding: 20px;
}

.meal-item-name {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.meal-item-description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin: 5px 0px;
  max-width: 90%;
}

.meal-item-amount {
  color: #962000;
  font-size: 1.3rem;
  font-style: normal;
  line-height: normal;
}

.input-label-field {
  border: none;
  display: flex;
  justify-content: flex-end;
}

.right-div-mealitems {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0px 10px;
  /* max-width: 10%; */
}

.input-label-field > input {
  width: 53px;
  height: 27px;
  border-radius: 4px;
  background: #fff;
  border: none;
  outline: none;
  text-align: center;
  font-size: larger;
}

.input-label-field > label {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px 8px;
}

.input-label-field > input:active {
  outline: none;
}

.submit-button-holder > button {
  width: 7rem;
  height: max-content;
  border-radius: 5px;
  background: #962000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  outline: none;
  border: none;
  padding: 0.2rem 0.4rem;
}

.submit-button-holder > button:hover {
  cursor: pointer;
}

.submit-button-holder {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.main-div-homepage-outer {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .outer-div-home-page-menu {
    flex-direction: column;
    gap: 1rem;
  }
  .home-page-menu-items {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-home-page-container {
    width: fit-content;
  }
}
