.main-home-page-container {
  padding: 1.5rem 0rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #d1c6c1;
  width: 70%;
  margin: 2rem auto;
  height: fit-content;
  /* height: 1500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-div-home-page-menu {
  border-radius: 20px;
  background: #262f33;
  background: color(display-p3 0.1569 0.1843 0.2);
  display: flex;
  justify-content: space-evenly;
  padding: 20px 25px;
  width: 90%;
}

.home-page-menu-items {
  border-radius: 20px;
  background: rgba(231, 72, 0, 0.53);
  background: color(display-p3 0.8378 0.3297 0.1318 / 0.53);
  width: fit-content;
  padding: 20px 26px;
}

.home-page-menu-items:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5) inset;
}

.home-page-menu-items:focus {
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5) inset;
}

.home-page-menu-items > span {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}

.content-div {
  margin-top: 10px;
  width: 90%;
}

.MealItem-holder-div {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.meal-item-name {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.meal-item-description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 19px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  margin: 5px 0px;
  max-width: 90%;
}

.meal-item-amount {
  color: #962000;
  font-size: 1.3rem;
  font-style: normal;
  line-height: normal;
}

.input-label-field {
  border: none;
}

.input-label-field > input:active {
  outline: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}
