.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.809);
}

.modal {
  position: fixed;
  top: 15vh;
  left: 5%;
  width: 90%;
  background: #d3c6c0;
  /* background-color: white; */
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 44rem;
    left: calc(50% - 24rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ... (Your existing styles) */

.slide-up {
  animation: slide-up 300ms ease-out forwards;
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 1rem;
  }
}
