.main-outer-div-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #8a2b06;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.heading-div-header > h2 {
  font-weight: 900;
  font-size: 2rem;
  margin-left: 14px !important;
  margin: 0px;
}

.header-button-holder {
  display: flex;
}

.header-buttons-navbar {
  align-items: center;
  background-color: #4d1601;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font: inherit;
  font-weight: 700;
  justify-content: space-around;
  margin: 7px;
  padding: 0.75rem 2rem;
}

.main-image {
  width: 100%;
  height: 15rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
