.profile-css-main-div {
  border-radius: 6px;
  background: #d9d9d9;
  /* width: max-content; */
  min-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 3rem;
}

.profile-css-form-div-holder {
  width: 70%;
  height: 360px;
  margin: 0.5rem;
  padding: 1rem;
}

.profile-change-div-heading {
  color: #1c1c1c;
  font-weight: 900;
  font-size: 1.5rem;
}

.profile-edit-form-row {
  display: flex;
  border: 1px solid red;
}
