.profile-css-main-div {
  border-radius: 6px;
  background: #d9d9d9;
  /* width: max-content; */
  min-width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: stretch;
  height: 100%;
  margin: 0 3rem;
}

.profile-css-form-div-holder {
  width: 70%;
  height: max-content;
  border-left: 1px solid #858585;
  padding: 1rem 2rem;
}

.profile-change-div-heading {
  margin-bottom: 2rem;
  color: #1c1c1c;
  font-weight: 900;
  font-size: 1.5rem;
  position: relative;
}

.profile-edit-form-row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.profile-edit-form-row > label {
  margin: 0px;
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
}

.profile-edit-form-row > div > label {
  margin: 0px;
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
}

.profile-edit-form-row > input {
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 2px solid #8585858c;
  background: #fff;
  color: #858585;
  /* font-family: Roboto; */
  font-size: 20px;
  font-weight: 500;
}

.profile-edit-form-row > div > input {
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 2px solid #8585858c;
  background: #fff;
  color: #858585;
  /* font-family: Roboto; */
  font-size: 20px;
  font-weight: 500;
}

.profile-edit-form-row > input:focus {
  color: black;
}

.profile-edit-form-row > div > input:focus {
  color: black;
}

.width-div-container-profile-css {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.profile-edit-submit-button {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.profile-edit-submit-button > button {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgb(138 43 6 / 84%);
  background: #fff;
  color: rgb(138 43 6 / 84%);
  /* font-family: Roboto; */
  font-size: 18px;
  padding: 5px 40px;
}

.profile-edit-submit-button > button:hover {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5) inset;
}

.profile-annimation-holder-div {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 768px) {
  .profile-css-main-div {
    min-width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .profile-css-menu-div-holder {
    min-width: 85% !important;
    max-width: 85% !important;
  }

  .profile-css-form-div-holder {
    width: 85%;
    /* padding: 1rem; */
    border-top: 1px solid #858585;
    border-left: 0;
  }
}
