.profile-css-menu-div-holder {
  width: max-content;
  /* border-right: 1px solid #858585; */
  padding: 1rem 2rem;
  min-width: 27%;
  max-width: 27%;
}

.profile-css-menu-active {
  color: #1c1c1c !important;
}

.profile-css-menu-items {
  cursor: pointer;
  color: #858585;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 1.7rem;
  margin: 20px 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-css-menu-heading {
  cursor: pointer;
  color: #1c1c1c;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 2px 5px;
}
