body {
  background-color: #342f2f !important;
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
button:active,
button:focus {
  outline: none;
}

code {
  font-family: "Inter", monospace;
}

.full-width-div {
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #d1c6c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #95908e;
}
